*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/signing

# Project exclude paths
/app/src/main/java/io/github/excu101/vortex/TestActivity.kt
/app/src/main/java/io/github/excu101/vortex/CheckBoxCanvas.kt
/buildSrc/build/
/filesystem/build/
/filesystem/build/intermediates/javac/debug/classes/
/filesystem-unix/build/
/filesystem-unix/build/intermediates/javac/debug/classes/
/pluginsystem/build/
/pluginsystem/build/intermediates/javac/debug/classes/
/pluginsystem-common/build/
/pluginsystem-common/build/intermediates/javac/debug/classes/
/package-manager/build/
/filesystem-experimental
/filesystem-experimental-linux